.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1eeee;
  height: auto;
  width: 450px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-group {
  margin-bottom: 1rem;
  width: 400px;
  border-radius: 15px;
  height: 82px;
 
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  height: 43px;
  border-radius: 7px;
  border: none;
}
.error-message {
  color: red;
  margin-bottom: 1rem;
}
.success-message {
  color: green;
  margin-bottom: 1rem;
}

.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
 button {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 150px;
  width: 100px;
  height: 45px;
  font-size: 15px;
}
 button:hover {
  background-color: #45a049;
}