nav{
    background-color: #333;
    padding: 1rem;
    width: 100%;
    position: fixed; 
    top: 0;        
    left: 0;       
    z-index: 1000;   
    display: flex;
    justify-content: space-between;
    align-items: center;

}   

.nav-left {
  font-size: 25px;
  font-weight: 700;
  color: #f2c300; 
  margin-left: 20px;                
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 19px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f2c300;                 /* yellow hover */
}

/* RIGHT BUTTON */
.reserve-btn {
  background: #f2c300;
  padding: 10px 22px;
  border-radius: 25px;
  color: #111;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  margin-right: 40px;
}

.reserve-btn:hover {
  background: #ffe367;
}
